html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#leafletMapId {
    height: 85%;
    width: 100%;
}

.popUpTopic {
    font-weight: bold;
}

.popUpTopicCategory {
    font-style: italic;
}